@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 ul{
   padding: none;
 }
.browse-t{
  margin-bottom: 10px;
  background-color: #e6efff;
  padding: 20px;
  width: 100%;
  border-radius: 7px;
}
.inbox-m{
  margin-bottom: 10px;
  background-color: #e6e6e6;
  padding: 20px;
  width: 100%;
  border-radius: 7px;
}
.browse-g{
  margin-bottom: 10px;
  background-color: #e0eeff;
  padding: 20px;
  width: 100%;
  border-radius: 7px;
}
.created-by{
  font-size: 18px;
  background-color: #d9e9ff;
  padding:15px;
  border-radius: 7px;
  margin-bottom: 10px
}
hr{
  height: 1px;
    background-color: black;
  }
  .browse-g h1{
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
  }
  .browse-t h1{
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
  }
