@import "bootstrap-sprockets";
@import "bootstrap";
body{
    margin: 100px;
    padding-top: 80px;
}

.logo{
  margin-top: 10px;
max-height: 30px;
}
.nav{
    float: right;
    padding-top: 20px;
padding-bottom: 10px;
color: white;
}
.navbar{
    background-color: #002663;
    color: white;
    font-size: 20px;
}
#not-found{
  font-size: 30px;
  font-weight: 600;
  color: red;
  align-content: center;
}
#star{
  color: red;
  font-weight:900;
}
