<div class="com-box">

      <div class="content-c">
          <div class="com-bod">
            <%= comment.body %>

          </div>
          <span id="posted-by">Posted by:

          <%= User.find_by(id: comment.user_id).name %> </span>
      </div>
    <% if current_user.id == comment.user_id %>
      <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    <%end %>
</div>
