<div class="browse-g">
  <h1>Home</h1>
<br>
  <p>CodeLinks is an online website that connects Computer Science students with parents and guardians searching for a Computer Science tutor. Through CodeLinks, students who are searching for a job can easily learn how to become effective tutors. Tutors can create an account and access an inclusive lesson plan to teach the Fundamentals of Computing using Python. In addition to the Python curriculum, tutors can access projects and quiz templates on CodeLinks. Tutors will have a public profile where they can showcase their qualifications and other experiences. Tutors can also access a public forum created for tutors to share advice and helpful tips when teaching. Parents and guardians can create accounts and contact tutors in their area, as well as access the progress of their child online. CodeLinks includes suggested hourly rates and session scheduling tips for novice tutors. CodeLinks is a community where Computer Science students can develop their communication skills, become mentors, and become employed. 
  </p>
</div>
