<footer class=”footer”>
  <div class="bottom-text-first">
    <small>
       Designed by: Erica Pereira 2020
    </small>
  </div>

<nav >
<ul>

   <li><%= link_to "Home", controller: "pages", action: "home" %></li>
   <li><a href=”http://www.depauw.edu”>DePauw</a></li>
</ul>
</nav>
</footer>
